body{
	font-family: "Jost", serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1em;
	background-color:  #121D23;
	color: #CECECE;
}

::-webkit-scrollbar-track{
	background-color:#FFFFFF;
	border-left: 1px solid #FFFFFF;
}
::-webkit-scrollbar{
	width: 7px;
	background-color: #FFFFFF;
}
::-webkit-scrollbar-thumb{
	background: #C9A581;
}

::selection{
	color:  #121D23;
	background-color: #FFFFFF;
	filter: invert(1);
}

p{
	line-height: 1.6em;
	margin-bottom: 1.4em;
}

h1,
h2,
h3,
h4,
h5,
h6{
	margin : 0;
	font-weight: 500;
	line-height: 1.2em;
	color: #FFFFFF;
}

figure{
	margin: 0;
}

img{
	max-width: 100%;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	outline: 0;
}

a:focus{
	text-decoration: none;
	outline: 0;
}

html,
body{
	width: 100%;
	overflow-x: clip;
}

.container{
	max-width: 1300px;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl{
    padding-right: 15px;
    padding-left: 15px;
}

.image-anime{
	position: relative;
	overflow: hidden;
}

.image-anime:after{
	content: "";
	position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255,255,255,.3);
    transform: translate(-50%,-50%) rotate(-45deg);
    z-index: 1;
}

.image-anime:hover:after{
    height: 250%;
    transition: all 600ms linear;
    background-color: transparent;
}

.reveal{
	position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    visibility: hidden;
    overflow: hidden;
}

.reveal img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform-origin: left;
    transform-origin: left;
}

.row{
    margin-right: -15px;
    margin-left: -15px;
}

.row > *{
	padding-right: 15px;
	padding-left: 15px;
}

.row.no-gutters{
    margin-right: 0px;
    margin-left: 0px;
}

.row.no-gutters > *{
    padding-right: 0px;
    padding-left: 0px;
}

.btn-default{
	position: relative;
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	line-height: 1em;
	text-transform: capitalize;
	background: linear-gradient(90deg, #C9A581 0%,   #E4CCB4 50%, #C9A581 100%);
	background-size: 200% auto;
	color:  #121D23;
	border: none;
	border-radius: 100px;
	padding: 17px 30px;
	overflow: hidden;
	transition: all 0.4s ease-in-out;
	z-index: 1;
}

.btn-default:hover{
	background-position: right center;
}

.btn-default.btn-highlighted{
	background: transparent;
	border: 1px solid #C9A581;
	color: #C9A581;
	padding: 16px 30px;
}

.btn-default.btn-highlighted:hover{
	color: #121D23;
}

.btn-default.btn-highlighted:before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
  	left: 50%;
  	right: 50%;
  	opacity: 0;
	background: linear-gradient(90deg, #C9A581 0%,  #f5f4f3 100%);
	border-radius: 100px;
	transition: all 0.4s ease-in-out;
	z-index: -1;
}
  
.btn-default.btn-highlighted:hover:before{
	left: -5px;
  	right: -5px;
	opacity: 1;
}

.readmore-btn{
	position: relative;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.4em;
	color:#C9A581;
	text-transform: capitalize;
	display: inline-block;
	padding-right: 30px;
	transition: all 0.4s ease-in-out;
}

.readmore-btn::before{
	content: '\f178';
    position: absolute;
	right: 0;
    top: 50%;
	font-family: 'Font Awesome 6 Free';
    font-size: 16px;
    line-height: normal;
    font-weight: 600;
	color: #C9A581;
	background-position: center center;
	border-radius: 50%;
	transform: translate(-3px, -50%);
	transition: all 0.4s ease-in-out;
}

.readmore-btn:hover{
	color: #FFFFFF;
}

.readmore-btn:hover::before{
	color: #FFFFFF;
	transform: translate(0, -50%);
}

.cb-cursor:before{
	background: linear-gradient(90deg, #C9A581 0%, #E4CCB4 100%);
}

.preloader{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background: linear-gradient(90deg, #C9A581 0%,  #E4CCB4 100%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.loading-container,
.loading{
	height: 100px;
	position: relative;
	width: 100px;
	border-radius: 100%;
}

.loading-container{
	margin: 40px auto;
}

.loading{
	border: 1px solid transparent;
	border-color: transparent  #121D23 transparent  #121D23;
	animation: rotate-loading 1.5s linear 0s infinite normal;
	transform-origin: 50% 50%;
}

.loading-container:hover .loading,
.loading-container .loading{
	transition: all 0.5s ease-in-out;
}

#loading-icon{
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 66px;
	transform: translate(-50%, -50%);
}

@keyframes rotate-loading{
	0%{
		transform: rotate(0deg);
	}

	100%{
		transform: rotate(360deg);
	}
}

.light-bg-section{
	position: relative;
}

.light-bg-section::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #FFFFFF;
	opacity: 2%;
	z-index: 0;
}

.light-bg-section .container{
	position: relative;
	z-index: 1;
}

.section-row{
	margin-bottom: 80px;
}

.section-row .section-title{
	margin-bottom: 0;
}

.section-row .section-title{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	text-align: center;
}

.section-btn{
	text-align: end;
}

.section-title-content p{
	margin: 0;
}

.section-title{
	margin-bottom: 40px;
}

.section-title h3{
	position: relative;
	display: inline-block;
	font-size: 16px;
    font-weight: 500;
	line-height: 1.6em;
    text-transform: capitalize;
    color: #FFFFFF;
	padding-left: 30px;
    margin-bottom: 10px;
}

.section-title h3::before{
	content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url('../../images/home/icon-sub-heading.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    width: 20px;
    height: 20px;
}

.section-title h1{
	font-family: "Forum", serif;
	font-size: 70px;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 1.1em;
	margin-bottom: 0;
	cursor: none;
}

.section-title h2{
	font-family: "Forum", serif;
	font-size: 44px;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 0;
	cursor: none;
}

.section-title p{
	margin-top: 20px;
	margin-bottom: 0;
}

.help-block.with-errors ul{
	margin: 0;
	text-align: left;
}

.help-block.with-errors ul li{
	color: rgb(230, 87, 87);
	font-weight: 500;
	font-size: 14px;
}


.topbar{
	background: linear-gradient(90deg, #C9A581 0%,  #FFFFFF24 100%);
	padding: 10px 0;
}

.topbar-contact-info ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
	gap: 30px;
}

.topbar-contact-info ul li{
	font-size: 16px;
	color:  #121D23;
    display: flex;
    align-items: center;
}

.topbar-contact-info ul li a{
	color: inherit;
	transition: all 0.3s ease-in-out;
}

.topbar-contact-info ul li a:hover{
	color: #FFFFFF;
}

.topbar-contact-info ul li img{
	width: 100%;
	max-width: 20px;
	margin-right: 10px;
	transition: all 0.3s ease-in-out;
}

.topbar-contact-info ul li a:hover img{
	filter: brightness(0) invert(1);
}

.topbar-social-links{
	text-align: right;
}

.topbar-social-links ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.topbar-social-links ul li{
	display: inline-block;
	border-right: 1px solid #121D23;
	margin-right: 15px;
	padding-right: 15px;
}

.topbar-social-links ul li:last-child{
	border-right: none;
	margin-right: 0px;
	padding-right: 0px;
}

.topbar-social-links ul li a{
	color: inherit;
}

.topbar-social-links ul li a i{
	font-size: 18px;
	color:  #121D23;
	transition: all 0.3s ease-in-out;
}

.topbar-social-links ul li a:hover i{
	color: #FFFFFF;
}

header.main-header{
	position: relative;
	z-index: 100;
}

header.main-header .header-sticky{
	position: relative;
	top: 0;
	z-index: 100;
}

header.main-header .header-sticky.hide{
	top: -110px;
	/* transform: translateY(-100%); */
	transition: transform 0.4s ease-in-out;
}

header.main-header .header-sticky.active{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border-radius: 0;
    /* transform: translateY(0); */
	background-color: #121D23;
	border-bottom: 1px solid #FFFFFF24;
}


.nav-item ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white); 
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 10px 0;
    min-width: 200px;
    z-index: 999;
    border-radius: 8px;
  }

  .nav-item:hover > ul {
    display: block;
  }
  
  
  .nav-item ul li a {
    padding: 10px 20px;
    display: block;
    color: var(--dark); 
    text-decoration: none;
    transition: background 0.3s ease;
  }
  
  .nav-item ul li a:hover {
    background-color: #FFFFFF; 
    color: var(--white);
  }
  


.navbar{
	padding: 25px 0;
	align-items: center;
}

.navbar-brand{
	padding: 0;
	margin: 0;
}

.main-menu .nav-menu-wrapper{
	flex: 1;
	text-align: right;
	margin: 0 60px;
}

.main-menu .nav-menu-wrapper > ul{
	align-items: center;
	display: inline-flex;
}

.main-menu ul li{
	margin: 0;
	position: relative;
}

.main-menu ul li.nav-item a{
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.02em;
	line-height: normal;
	padding: 15px !important;
	color: #FFFFFF;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
}

.main-menu ul li.submenu > a:after{
	content: '\f107';
	font-family: 'FontAwesome';
	font-weight: 900;
	font-size: 14px;
	margin-left: 8px;
	margin-top: 4px;
}

.main-menu ul li a:hover,
.main-menu ul li a:focus{
	color: #C9A581;
}

.main-menu ul ul{
	visibility: hidden;
	opacity: 0;
	transform: scaleY(0.8);
	transform-origin: top;
	padding: 0;
	margin: 0;
	list-style: none;
	width: 230px;
	border-radius: 20px;
	position: absolute;
	left: 0;
	top: 100%;
	background: linear-gradient(90deg, #C9A581 0%, #FFFFFF24 100%);
	text-align: left;
	transition: all 0.3s ease-in-out;
}

.main-menu ul li.submenu:first-child ul{
    width: 230px;
}

.main-menu ul ul ul{
	left: 100%;
	top: 0;
	text-align: left;
}
.main-menu ul li:hover > ul{
	visibility: visible;
	opacity: 1;
	transform: scaleY(1);
    padding: 5px 0;
}

.main-menu ul li.submenu ul li.submenu > a:after{
    content: '\f105';
    float: right;
}

.main-menu ul ul li{
	margin: 0;
	padding: 0;
}

.main-menu ul ul li.nav-item a{
	color: #121D23;
	padding: 6px 20px !important;
	transition: all 0.3s ease-in-out;
}

.main-menu ul li:hover > ul{
	visibility: visible;
	opacity: 1;
	transform: scaleY(1);
    padding: 5px 0;
}

.main-menu ul ul li a:hover,
.main-menu ul ul li a:focus{
	color: #FFFFFF;
	background-color: transparent;
	padding: 6px 20px 6px 23px !important;
}

.main-menu ul li.highlighted-menu{
    display: none;
}

.header-button-box{
	display: flex;
	align-items: center;
}

.header-sidebar-btn .btn-popup{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	z-index: 100;
}

.header-sidebar-btn .offcanvas-backdrop{
	z-index: 100;
}

.header-sidebar-btn .btn-popup{
	padding: 0;
	margin-left: 40px;
	border: none;
}

.header-sidebar-btn .btn-popup img{
	max-width: 36px;
}

body:has(:not(.offcanvas)){
	padding-right: initial !important;
}

body:has(.offcanvas){
	padding-right: 0 !important;
}

.header-sidebar-btn .offcanvas{
	position: fixed;
	top: 0;
	bottom: 0;
	left: auto;
	right: -15px;
	background: #FFFFFF !important;
	border-radius: 0;
	opacity: 100%;
	width: 100% !important;
	height: 100% !important;
	max-width: 650px;
	border: none;
	padding: 200px 130px 60px;
	transform: translateX(100%) !important;
	z-index: 101;
	transition: all 0.3s ease-in-out !important;
} 

.offcanvas.show:not(.hiding),
.offcanvas.showing{
    transform: translateX(0) !important;
}

.navbar-expand-lg .offcanvas .offcanvas-body{
	text-align: center;
	display: block;
}

.header-sidebar-btn .offcanvas .btn-close{
	position: absolute;
	top: 60px;
	right: 60px;
	background-color: #C9A581;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 100%;
	box-shadow: none;
	padding: 0;
	transition: all 0.4s ease-in-out;
}

.header-sidebar-btn .offcanvas .btn-close:hover{
	background-color:  #FFFFFF24;
}

.header-title-box,
.header-sidebar-info{
	background: url(../images/icon-coffee-beans.svg) no-repeat;
	background-position: center bottom 27px;
	background-size: 16px auto;
	padding-bottom: 70px;
}

.header-title-box h2{
	font-family:"Forum", serif;
	font-size: 44px;
	font-weight: 400;
	text-transform: uppercase;
	color: #C9A581;
	margin-bottom: 10px;
}

.header-title-box p{
	color:  #121D23;
	margin-bottom: 0;
}

.header-sidebar-info h2{
	font-size: 34px;
	font-weight: 600;
	color: #C9A581;
	margin-bottom: 30px;
}

.header-sidebar-info h2 a{
	color: inherit;
	transition: all 0.3s ease-in-out;
}

.header-sidebar-info h2 a:hover{
	color: #121D23;
}

.header-sidebar-info ul li a{
	color: inherit;
	transition: all 0.3s ease-in-out;
}

.header-sidebar-info ul li a:hover{
	color: #FFFFFF24;
}

.header-sidebar-info ul,
.header-sidebar-timing ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.header-sidebar-info ul li,
.header-sidebar-timing ul li{
	margin-bottom: 15px;
}

.header-sidebar-info ul li:last-child,
.header-sidebar-timing ul li:last-child{
	margin-bottom: 0;
}

.header-sidebar-social-list{
	margin-top: 60px;
}

.header-sidebar-social-list ul{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-sidebar-social-list ul li{
	line-height: 1em;
	margin-right: 15px;
	padding-right: 15px;
	border-right: 1px solid  #121D23;
}
.header-sidebar-social-list ul li:last-child{
	margin-right: 0;
	padding-right: 0;
	border-right:  none;
}

.header-sidebar-social-list ul li a{
	color: inherit;
}

.header-sidebar-social-list ul li i{
	font-size: 20px;
	color:  #121D23;
	transition: all 0.4s ease-in-out;
}

.header-sidebar-social-list ul li:hover i{
	color:#C9A581;
}

.responsive-menu,
.navbar-toggle{
	display: none;
}

.responsive-menu{
	top: 0;
	position: relative;
}


@media only screen and (max-width: 991px){

	.btn-default{
		padding: 15px 20px;
	}

	.btn-default.btn-highlighted{
		padding: 14px 20px;
	}

	.navbar{
		padding: 15px 0;
	}

	.main-menu ul li.highlighted-menu{
		display: block;
	}
	
	.slicknav_nav li,
	.slicknav_nav ul{
        display: block;
    }

	.responsive-menu,
    .navbar-toggle{
        display: block;
    }

	.header-sidebar-btn{
		display: none;
	}

	.section-row{
		margin-bottom: 40px;
	}

	.section-row .section-title{
		max-width: 100%;
	}

	.section-title h3{
		padding-left: 25px;
	}

	.section-title h3::before{
		width: 18px;
		height: 18px;
	}

	.section-title h1{
		font-size: 50px;
	}

	.section-title h2{
		font-size: 34px;
	}

	.section-title p{
		margin-top: 15px;
	}

	.section-title-content{
		margin-left: 0;
		margin-top: 15px;
	}

	.section-btn{
		text-align: left;
		margin-top: 15px;
	}

	.hero{
		padding: 100px 0;
	}

	.hero.hero-slider-layout .hero-slide{
		padding: 100px 0;
	}

	.hero.hero-slider-layout .hero-pagination{
		bottom: 30px;
		padding-left: 15px;
	}

	.our-scrolling-ticker{
		padding: 15px 0;
	}

	.scrolling-ticker-box{
		--gap: 20px;
	}

	.scrolling-content span{
		font-size: 34px;
	}

	.scrolling-content span img{
		margin-right: 20px;
	}

}




.menu-icon {
    width: 50px;
    height: 50px;
    background-color: rgb(226, 221, 208);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    color: black;
}

.menu-icon i {
    color: black;
    transition: color 0.3s ease;
}

.menu-icon:hover {
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.menu-icon:hover i {
    color: orange;
}

.dropdown-item {
    padding: 10px 20px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
    color: orange;
    transform: translateX(10px);
}

.dropdown-item:not(:hover) {
    transition: transform 0.3s ease-out;
}

/* 
.sidebar {
    color: white;
    background-color: #1b1919;
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 10;
    padding: 20px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
}

.sidebar-content {
    text-align: center;
    margin-top: 80px;
    padding-top: 80px;
}

.sidebar-logo {
    width: 130px;
    margin-bottom: 40px;
}

.social-icons i {
    display: inline-block;
    margin: 7px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background: rgb(63, 63, 63);
    color: white;
    transition: 0.3s;
    cursor: pointer;
    margin-right: 10px;
}

.social-icons i:hover {
    background: white;
    color: black;
}

.sidebar-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 30px;
}

.sidebar-links a {
    color: white;
    transition: color 0.3s;
    cursor: pointer;
}

.sidebar-links a:hover {
    color: orange;
}

.sidebar.show {
    right: 0;
}

.menu-icon {
    cursor: pointer;
}

.sidebar-content p {
    margin: 0;
    padding: 0;
}

.sidebar-content img {
    margin-bottom: 20px;
    margin-top: 40px;
}

.new-sidebar {
    color: white;
    background-color: #1b1919;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.2);
    transition: left 0.9s ease-in-out;
    z-index: 10;
    padding: 20px;
    opacity: 0.9;
}

.search-container {
    text-align: center;
    margin-top: 250px;
    position: relative;
}

#searchInput {
    width: 60%;
    padding: 10px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    opacity: 1;
    border: none;
    outline: none;
    text-align: center;
    display: block;
    margin: 0 auto;
}

#searchLine {
    margin-top: 10px;
    border-top: 3px solid white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease-in-out;
}

#searchInput:focus~#searchLine {
    border-top: 4px solid orange !important;
    opacity: 0.7 !important;
}

#searchLabel {
    display: block;
    margin-top: 15px;
    font-size: 18px;
    color: rgba(77, 74, 74, 0.8);
}

.new-sidebar.show {
    left: 0;
}

.new-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
} */

.hero{
	position: relative;
	background: url('../../assets/images/common/hero-bg.jpg') no-repeat;

	background-position: center center;
	background-size: auto;
	padding: 210px 0;
}

.hero::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #121D23;
	opacity: 80%;
	z-index: 1;
}

.hero.hero-video .hero-bg-video{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.hero.hero-video .hero-bg-video video{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero.hero-slider-layout{
	background: none;
	padding: 0;
}

.hero.hero-slider-layout .hero-slide{
	position: relative;
	background: url('../../images/common/hero-bg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
    padding: 210px 0;
}

.hero.hero-slider-layout .hero-slide.slide-2{
	background: url('../../images/common/hero-bg-2.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.hero.hero-slider-layout .hero-slide::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background:  #121D23;
	opacity: 80%;
	z-index: 1;
}

.hero.hero-slider-layout .hero-slide .hero-slider-image{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.hero.hero-slider-layout .hero-slide .hero-slider-image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero.hero-slider-layout .hero-pagination{
	position: absolute;
    bottom: 50px;
	padding-left: calc(((100vw - 1300px) / 2) + 15px);
	z-index: 2;
}

.hero.hero-slider-layout .hero-pagination .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    background:#FFFFFF24;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    margin: 0 5px;
}

.hero.hero-slider-layout .hero-pagination .swiper-pagination-bullet-active{
    background: #C9A581;
}

.hero-content{
	position: relative;
	z-index: 2;
}

.hero-btn{
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}



#scrolling .our-scrolling-ticker {
	background: linear-gradient(90deg, #C9A581 0%,  #FFFFFF24 100%);
	padding: 25px 0;
}

#scrolling .scrolling-ticker-box {
	--gap: 30px;
	position: relative;
	display: flex;
	overflow: hidden;
	user-select: none;
	gap: var(--gap);
	align-items: center;
}

#scrolling .scrolling-content {
	flex-shrink: 0;
	display: flex;
	gap: var(--gap);
	min-width: 100%;
	animation: scroll 50s linear infinite;
}

#scrolling .scrolling-content span {
	font-family: "Forum", serif;
	display: inline-flex;
	align-items: center;
	font-size: 44px;
	line-height: 1.2em;
	text-transform: uppercase;
	color:  #121D23;
	vertical-align: middle;
	white-space: nowrap;
}

#scrolling .scrolling-content span img {
	width: 30px;
	height: auto;
	margin-right: 30px;
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(calc(-100% - var(--gap)));
	}
}


@media (max-width: 575.98px) {
	#scrolling .scrolling-ticker-box {
		--gap: 15px;
	}
	#scrolling .scrolling-content {
		animation-duration: 70s; 
	}
	#scrolling .scrolling-content span {
		font-size: 28px;
	}
	#scrolling .scrolling-content span img {
		width: 20px;
		margin-right: var(--gap);
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	#scrolling .scrolling-ticker-box {
		--gap: 20px;
	}
	#scrolling .scrolling-content {
		animation-duration: 60s;
	}
	#scrolling .scrolling-content span {
		font-size: 32px;
	}
	#scrolling .scrolling-content span img {
		width: 24px;
		margin-right: var(--gap);
	}
}


@media (min-width: 768px) and (max-width: 991.98px) {
	#scrolling .scrolling-ticker-box {
		--gap: 25px;
	}
	#scrolling .scrolling-content {
		animation-duration: 55s;
	}
	#scrolling .scrolling-content span {
		font-size: 38px;
	}
	#scrolling .scrolling-content span img {
		width: 28px;
		margin-right: var(--gap);
	}
}


@media (min-width: 992px) {
	#scrolling .scrolling-ticker-box {
		--gap: 30px;
	}
	#scrolling .scrolling-content {
		animation-duration: 50s;
	}
	#scrolling .scrolling-content span {
		font-size: 44px;
	}
	#scrolling .scrolling-content span img {
		width: 30px;
		margin-right: var(--gap);
	}
}




#about-section .about-us {
	background: url(../images/about-bg-image.png) no-repeat;
	background-position: top center;
	background-size: 100% auto;
	padding: 100px 0;
}

#about-section .about-us-content {
	margin-right: 50px;
}

#about-section .about-body-item {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

#about-section .about-body-item:last-child {
	margin-bottom: 0;
}

#about-section .about-body-item .icon-box {
	position: relative;
	width: 60px;
	height: 60px;
	background: #FFFFFF1A;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 30px;
}

#about-section .about-body-item .icon-box::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(90deg,#C9A581 0%,  #FFFFFF24 100%);
	border-radius: 50%;
	width: 100%;
	height: 100%;
	transform: scale(0);
	transition: all 0.4s ease-in-out;
	z-index: 0;
}

#about-section .about-body-item:hover .icon-box::before {
	transform: scale(1);
}

#about-section .about-body-item .icon-box img {
	position: relative;
	width: 100%;
	max-width: 30px;
	transition: all 0.3s ease-in-out;
	z-index: 1;
}

#about-section .about-body-item:hover .icon-box img {
	filter: brightness(0) invert(0);
}

#about-section .about-body-list-content {
	width: calc(100% - 90px);
}

#about-section .about-body-list-content h3 {
	font-size: 22px;
	text-transform: capitalize;
	margin-bottom: 10px;
}

#about-section .about-body-list-content p {
	margin-bottom: 0;
}

#about-section .about-us-footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 40px;
	margin-top: 60px;
}

#about-section .video-play-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

#about-section .video-play-button a {
	position: relative;
	height: 50px;
	width: 50px;
	background: linear-gradient(90deg, #C9A581 0%,  #FFFFFF24 100%);
	border: 1px solid #C9A581;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: none;
	margin-right: 30px;
}

#about-section .video-play-button a:before {
	content: '';
	position: absolute;
	top: -53%;
	left: -53%;
	width: 160%;
	height: 160%;
	border: 50px solid #FFFFFF24;
	border-radius: 50%;
	transform: scale(0.6);
	z-index: -1;
	animation: border-zooming 1.2s infinite linear;
}

#about-section .video-play-button a:after {
	content: '';
	position: absolute;
	top: -53%;
	left: -53%;
	width: 160%;
	height: 160%;
	border: 50px solid #FFFFFF24;
	border-radius: 50%;
	transform: scale(0.6);
	z-index: -1;
	animation: border-zooming 1.2s infinite linear;
	animation-delay: .3s;
}

@keyframes border-zooming {
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

#about-section .video-play-button i {
	font-size: 18px;
	color:  #121D23;
	margin-left: 3px;
}

#about-section .video-play-button p {
	font-size: 16px;
	font-weight: 500;
	text-transform: capitalize;
	color: #FFFFFF;
	margin: 0;
}

#about-section .about-us-image {
	position: relative;
	padding-left: 70px;
}

#about-section .about-us-img figure {
	border-radius: 400px 400px 0 0;
	display: block;
}

#about-section .about-us-img img {
	width: 100%;
	aspect-ratio: 1 / 1.237;
	object-fit: cover;
	border-radius: 400px 400px 0 0;
}

#about-section .opening-time-box {
	position: absolute;
	bottom: 50px;
	left: 0;
	width: 100%;
	max-width: 320px;
	background: linear-gradient(90deg,#C9A581 0%,  #FFFFFF24 50%, #C9A581 100%);
	background-size: 200% auto;
	border-radius: 26px;
	padding: 30px;
	transition: all 0.4s ease-in-out;
	z-index: 1;
}

#about-section .opening-time-box:hover {
	background-position: right center;
}

#about-section .opening-time-box .icon-box {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background:  #121D23;
	border-radius: 50%;
	margin-bottom: 15px;
}

#about-section .opening-time-box .icon-box i {
	font-size: 24px;
	color: #FFFFFF;
}

#about-section .opening-time-content h3 {
	font-size: 22px;
	text-transform: capitalize;
	color:  #121D23;
	margin-bottom: 20px;
}

#about-section .opening-time-content ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#about-section .opening-time-content ul li {
	color:  #121D23;
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

#about-section .opening-time-content ul li:last-child {
	margin-bottom: 0;
}

#about-section .opening-time-content ul li span {
	width: 45%;
}


.section-title h3::before{
	content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url('../../images/home/icon-sub-heading.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    width: 20px;
    height: 20px;
}







.why-choose-us{
	position: relative;
	padding: 100px 0;
}

.why-choose-us::before{
	content: '';
	position: absolute;
	bottom: 125px;
	left: -60px;
	width: 460px;
	height: 450px;
	background-image: url('../../images/home/sadada.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.why-choose-content{
	position: sticky;
	top: 20px;
	margin-right: 20px;
}

.why-choose-list{
	display: flex;
	flex-wrap: wrap;
}

.why-choose-item{
	width: 50%;
    padding: 30px 30px 30px 0;
    border-bottom: 1px solid #FFFFFF24;
    border-right: 1px solid#FFFFFF24;
}

.why-choose-item:nth-of-type(2n + 2){
    padding: 30px 0 30px 30px;
    border-right: none;
}

.why-choose-item:nth-last-child(-n + 2){
    padding-bottom: 0;
    border-bottom: none;
}

.why-choose-item:nth-child(-n + 2){
    padding-top: 0;
}

.why-choose-item .icon-box{
    position: relative;
    background-color:#FFFFFF1A;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 20px;
}

.why-choose-item .icon-box::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg,  #C9A581 0%, #FFFFFF1A 100%);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
    z-index: 0;
}

.why-choose-item:hover .icon-box::before{
    transform: scale(1);
}

.why-choose-item .icon-box img{
    max-width: 30px;
	transition: all 0.4s ease-in-out;
    z-index: 1;
}

.why-choose-item:hover .icon-box img{
	filter: brightness(0) invert(0);
}

.why-choose-item-content h3{
	font-size: 22px;
	text-transform: capitalize;
	margin-bottom: 10px;
}

.why-choose-item-content p{
	margin: 0;
}




.slicknav_menu {
    text-align: right;
    background: transparent;
    padding: 10px;
  }
  
  .slicknav_btn {
    float: right;
  }

























.intro-video{
    margin-bottom: 80px;
	position: relative;
	padding: 200px 0 100px;
	background-image: url('../../images/common/backgrounddd.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.intro-video:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	width: 100%;
	height: 100%;
    background:#121D23;
    opacity: 80%;
	z-index: 0;
}

.intro-video .container{
	position: relative;
	z-index: 1;
}

.intro-video-content .section-title{
	margin-bottom: 0;
}

.intro-video-content .section-title h3{
	color: #C9A581;
}

.intro-video-box.about-intro-video{
	text-align: end;
}

.intro-video-box.about-intro-video .video-play-button p{
	font-size: 20px;
}

.intro-video-counters{
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	border-top: 1px solid #FFFFFF24;
	margin-top: 200px;
	padding-top: 40px;
}

.video-counter-item{
	width: calc(25% - 22.5px);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.video-counter-item .icon-box{
	position: relative;
	width: 60px;
	height: 60px;
	background:  #FFFFFF1A;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
}

.video-counter-item .icon-box::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg,  #C9A581 0%, #FFFFFF1A 100%);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
    z-index: 0;
}

.video-counter-item:hover .icon-box::before{
	transform: scale(1);
}

.video-counter-item .icon-box img{
	position: relative;
	width: 100%;
	max-width: 30px;
	transition: all 0.3s ease-in-out;
	z-index: 1;
}

.video-counter-item:hover .icon-box img{
	filter: brightness(0) invert(0);
}

.video-counter-content{
	width: calc(100% - 80px);
}

.video-counter-content h2{
	font-family:"Forum", serif;
	font-size: 44px;
}

.video-counter-content p{
	color: #FFFFFF;
	text-transform: capitalize;
	margin: 0;
}













 .video-play-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

 .video-play-button a {
	position: relative;
	height: 50px;
	width: 50px;
	background: linear-gradient(90deg, #C9A581 0%,  #FFFFFF24 100%);
	border: 1px solid #C9A581;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: none;
	margin-right: 30px;
}

 .video-play-button a:before {
	content: '';
	position: absolute;
	top: -53%;
	left: -53%;
	width: 160%;
	height: 160%;
	border: 50px solid #FFFFFF24;
	border-radius: 50%;
	transform: scale(0.6);
	z-index: -1;
	animation: border-zooming 1.2s infinite linear;
}
.video-play-button a:after {
	content: '';
	position: absolute;
	top: -53%;
	left: -53%;
	width: 160%;
	height: 160%;
	border: 50px solid #FFFFFF24;
	border-radius: 50%;
	transform: scale(0.6);
	z-index: -1;
	animation: border-zooming 1.2s infinite linear;
	animation-delay: .3s;
}

@keyframes border-zooming {
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

 .video-play-button i {
	font-size: 18px;
	color:  #121D23;
	margin-left: 3px;
}

 .video-play-button p {
	font-size: 16px;
	font-weight: 500;
	text-transform: capitalize;
	color: #FFFFFF;
	margin: 0;
}










#our-pricing .our-pricing {
    margin-top: 50px;
    background: url(../images/pricing-bg-image.png) no-repeat;
    background-position: center center;
    background-size: 100% auto;
    padding: 100px 0;
}

#our-pricing .our-support-nav {
    margin-bottom: 80px;
}

#our-pricing .our-pricing-box .nav-tabs {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    background: var(--secondary-color);
    border: none;
}

#our-pricing .our-pricing-box ul li button {
    border: none;
}

#our-pricing .our-pricing-box .nav-tabs .nav-item .btn-default.btn-highlighted.active {
    color: var(--secondary-color);
}

#our-pricing .our-pricing-box .nav-tabs .nav-item .btn-default.btn-highlighted.active:before,
#our-pricing .our-pricing-box .nav-tabs .nav-item .btn-default.btn-highlighted:focus:before {
    left: -5px;
    right: -5px;
    opacity: 1;
}

#our-pricing .pricing-image {
    margin-right: 95px;
}

#our-pricing .pricing-image figure {
    display: block;
    border-radius: 400px 400px 0 0;
}

#our-pricing .pricing-image img {
    width: 100%;
    aspect-ratio: 1 / 1.296;
    object-fit: cover;
    border-radius: 400px 400px 0 0;
}

#our-pricing .menu-list-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px dashed var(--divider-color);
    margin-bottom: 30px;
    padding-bottom: 30px;
}

#our-pricing .menu-list-item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

#our-pricing .menu-list-image {
    margin-right: 30px;
}

#our-pricing .menu-list-image figure {
    display: block;
    max-width: 100px;
    border-radius: 50%;
}

#our-pricing .menu-list-image img {
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

#our-pricing .menu-item-body {
    width: calc(100% - 130px);
}

#our-pricing .menu-item-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 10px;
}

#our-pricing .menu-item-title h3 {
    font-family: var(--accent-font);
    width: 100%;
    font-size: 22px;
    max-width: fit-content;
    text-transform: uppercase;
}

#our-pricing .menu-item-title hr {
    height: 1px;
    width: 40%;
    color: var(--dark-divider-color);
    border-style: dashed;
    margin: 0;
    opacity: 1;
}

#our-pricing .menu-item-title span {
    font-weight: 700;
    font-size: 16px;
    color: var(--accent-color);
}

#our-pricing .menu-item-content p {
    margin: 0;
}

#our-pricing .section-footer-text {
    margin-top: 80px;
    text-align: center;
}

#our-pricing .section-footer-text p {
    text-transform: capitalize;
    margin-bottom: 0;
}

#our-pricing .section-footer-text p a {
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 4px;
    color: var(--accent-color);
    transition: all 0.4s ease-in-out;
}

#our-pricing .section-footer-text p a:hover {
    color: var(--primary-color);
}



